.commit-list-header {
  padding: 2rem;
}

.breadcrumb-divider {
  margin-right: 4px;
  margin-left: 4px;
}

.commit-list-wrapper {
  margin: 1rem;
}

.commit-details {
  margin: 1rem;
  min-width: 80%;
}

.commit-message {
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
}

.commit-author {
  font-size: 0.75rem;
  color: gray;
}

.commit-actions {
  min-width: 20%;
  padding: 2rem;
}

.mat-card {
  padding: 0.5rem;
}
